@use "../../../styles/colors";

.tomtom-cart-side-photo {
	display: flex;
	width: 80%;
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 8px black;

	.tomtom-cart-side-photo-img {
		width: 40%;
		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}
	.tomtom-cart-side-photo-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60%;
		background: colors.$primary-100;
		h3 {
			padding: 20px;
			font-weight: bold;
			color: colors.$light;
		}
		.tomtom-cart-side-photo-text-description {
			display: flex;
			width: 100%;
			height: 100%;
			padding: 10px 20px 10px 40px;
			background: colors.$light;
			color: colors.$black;
		}
	}
}
