@use "../../styles/colors";
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	
	color: colors.$black;
	h1 {
		margin: 40px 2px 0;
		padding: 20px 40px;
		text-align: center;
		border-radius: 5px;
		font-size: 34px;
		letter-spacing: 2px;
		color: colors.$black;
		// background: colors.$dark-gold;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	// section:nth-child(odd) {
	// 	background: colors.$light;
	// }
	// section:nth-child(even) {
	// 	background: colors.$white-100;
	// }
	p {
		padding: 20px;
	}

	.services {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		ul {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			justify-items: center;
			margin: 40px 0;
			padding: 20px 0;
			width: 100%;
			text-align: center;
		}
	}
	section.about-us {
		position: relative;
		align-items: center;
		justify-content: center;

		// background-image: url("../../images/cartTopPicture/auto.jpg");
		// background-size: cover;
		// background-position: center;
		// background-repeat: no-repeat;
		z-index: 0;
		
	}
	.why-us {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			padding: 80px 0;
		}
	}

	.our-cars {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 0;
		}
	}
}
