.tomtom-small-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 25%;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}