@use "../../styles/colors";

.tomtom-nav {
	position: absolute;
	flex-direction: column;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgba($color: colors.$dark, $alpha: 0.2);
	text-transform: uppercase;
	a {
		text-decoration: none;
		color: colors.$light;
	}

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		list-style: none;
		background-color: rgba($color: colors.$grey, $alpha: 0.5);

		li {
			padding: 20px 10px;
			transform: scale(1);

			a {
				padding: 10px 20px;
				text-decoration: none;
				font-weight: bold;
				font-size: 16px;
				letter-spacing: 2px;
				transition: color 0.3s, font-size 0.3s;

				&:hover {
					color: colors.$dark-gold;
				}
				&.active {
					font-size: 24px;
				}
			}
		}
	}
	.tomtom-nav-logo {
		padding: 20px;
	}
	.btn-translate {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-size: 14px;
		color: colors.$light;
		background: colors.$dark-gold;
		transition: all .3s;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			
			li {
				margin-bottom: 2px;
				padding: 0;
				width: 100%;

				button {
					padding: 10px;
					width: 100%;
					border: none;
					background-color: #f3f3f323;
					color: colors.$light;
					cursor: pointer;
					&:hover {
						background-color: #f3f3f342;
					}
				}
			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}
