@use "./styles/colors.scss";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: 100%;
	background-color: colors.$white;
	color: colors.$black;
	// overflow: hidden;
}
.tomtom-hero-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #393e46, $alpha: 0.5);
	z-index: -1;
}
